.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condensed" sans-serif;
}

nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  max-width: 17.25rem;
  color: var(--primary-white) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange) !important;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange) !important;
}

.footer {
  color: var(--primary-dark) !important;
}

.projects {
  padding: 30px 10%;
  text-align: center;
}

.projects img {
  width: 100%;
  max-width: 800px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-left img {
  width: 100%;
  max-width: 1200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.about-right {
  margin: 100px;
  border: 1px solid #ccc;
  float: left;
  width: 900px;
  text-align: center;
}

div.social {
  text-align: center;
}

.button-color {
  background-color: rgb(61, 61, 77);
  color: var(--primary-white)
}

body {
  background-color: #c2c5db!important;
}

.resume {
  padding: 30px 10%;
  text-align: center;
}

.resume img {
  padding-top: 20px;
  width: 80%
}

.mainbox {
  background-color: #c998e6;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

  .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
  }

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

 .err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
  }

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
  }

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.masthead img {
  width: 100%;
  max-width: 1200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-card {
  text-align: center;
  width: 20%;
  background-color: #353f9b;
  color: #bfbfbf;
  line-height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid #bfbfbf;
  border-radius: 10px;
  height: 100px;
  font-style: italic;
  font-size: 50px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.form img {
  width: 100%;
  max-width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form button {
  margin:0 auto;
  display:block;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap');